body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  scroll-behavior: smooth;
}

a {
  font-weight: bold;
  color: #47b2e4;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  color: #73c5eb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #37517e;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #37517e;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #47b2e4;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.navlogo {
  width: 100px;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6bc1e9;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(40, 58, 90, 0.9);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 60px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar li a {
  font-size: 18px;
  font-weight: bold;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #47b2e4;
  font-size: 20px;
  font-weight: bold;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  border: 2px solid #47b2e4;
  font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #31a9e1;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #47b2e4;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(40, 58, 90, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #37517e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #47b2e4;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
  color: #37517e;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #47b2e4;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 93vh;
  background: url("https://www.mannubhai.com/assets/images/BKXeQjhome-deep-cleaning.jpg");
  background-size: cover;
  background-position: center bottom bottom center !important;
}
.herosection {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5rem 5rem 0rem 5rem;
}
#hero .container {
  padding-top: 72px;
}
.content h1 {
  width: 70%;
  line-height: 40px;
  color: white;
}
.content h1 {
  font-size: 50px;
  line-height: 60px;
}
.content h3 {
  font-size: 22px;
  width: 70%;
  color: white;
  line-height: 40px;
}
.services-part {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0px;
  padding: 15px 0px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 65%;
  color: white;
  border-radius: 5px;
}
.contact-section.service {
  background-color: white;
  padding: 20px;
  width: 40%;
  border-radius: 5px;
}
.title {
  font-size: 25px;
  line-height: 1;
}
.contact-wrap {
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 20px;
  background: #01539f;
}
.form-control {
  margin: 20px 0px;
  padding: 15px 8px;
}
.arrow-btn input {
  background-color: #01539f;
  border: none;
  border: 2px solid yellow;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
.arrow-btn input:hover {
  background-color: yellow;
  color: black;
  font-weight: 900;
}
@media (max-width: 450px) {
  .herosection {
    flex-direction: column;
  }

  .content h1 {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  .services-part {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .herosection {
    flex-direction: column;
  }
  .content h1,
  h3 {
    width: 100%;
    color: white;
  }
  .contact-section.service {
    background-color: white;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
  }
  #hero {
    height: 100vh;
  }
}
@media (max-width: 830px) {
  #hero {
    height: 110vh;
  }
}
@media (max-width: 580px) {
  .content h1 {
    font-size: 35px;
    width: 100%;
    text-align: center;
  }
  .content h3 {
    width: 100%;
    text-align: center;
  }
  .herosection {
    padding: 3rem 2rem;
  }
  #hero {
    height: 135vh;
  }
}
@media (max-width: 450px) {
  #hero {
    height: 160vh;
  }
}
/* section2 */
.section2 {
  padding: 2rem 0;
}
.section2 h1 {
  text-align: center;
  font-size: 45px;
}
.image-content {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.image-content img {
  width: 50%;
}
.image-content p {
  width: 45%;
  line-height: 35px;
  font-size: 20px;
  text-align: justify;
  color: black;
  font-weight: 510;
  opacity: 0.7;
}
@media (max-width: 1000px) {
  .image-content {
    flex-direction: column;
  }
  .image-content img {
    width: 100%;
  }
  .image-content p {
    width: 100%;
    padding: 1rem 0px;
  }
  .section2 h1 {
    text-align: center;
  }
}
@media (max-width: 470px) {
  .section2 h1 {
    font-size: 30px;
    line-height: 45px;
  }
  .section2 {
    padding: 2rem 0 0 0;
  }
  .image-content {
    padding: 2rem;
  }
}
/* section3 */
.section3 {
  padding: 1rem 5rem;
}
.section3 h1 {
  text-align: center;
  font-size: 45px;
  padding: 1rem 0;
}
.section3 p {
  font-size: 20px;
  width: 100%;
  line-height: 36px;
  text-align: justify;
  font-weight: 510;
  opacity: 0.8;
}
@media (max-width: 470px) {
  .section3 h1 {
    text-align: center;
    font-size: 30px;
    line-height: 47px;
  }
  .section3 {
    padding: 10px 2rem;
  }
}
.section4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 5rem;
}
.section4 h3 {
  color: black;
  font-size: 20px;
  text-align: center;
}
.section4 h1 {
  text-align: center;
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.description li i {
  width: 25px;
  height: 25px;
  line-height: 25px !important;
  border-radius: 30px 30px 30px 30px !important;
  padding: 0 0 0 0;
  text-align: center;
  min-width: 20px;
  display: inline-block;
  margin-right: 10px;
  background-color: #ffd600;
  font-size: 12px !important;
}
li {
  padding: 10px;
}
.section4 img {
  border-radius: 10px;
  width: 45%;
}
@media (max-width: 1000px) {
  .section4 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .section4 img {
    width: 100%;
  }
}
@media (max-width: 460px) {
  .section4 {
    padding: 1rem 2rem;
  }
}
/* section5 */
.section5 {
  padding: 3rem 3rem;
}
.section5 h1 {
  text-align: center;
  font-size: 45px;
  padding-bottom: 2rem;
}

.table {
  border: 3px solid rgb(45, 44, 11);
  background-color: #dfdf9f;
}
td,
th {
  text-align: center;
}
td {
  font-weight: 550;
}
.table1 h1 {
  font-size: 30px;
  background-color: #6c5705;
  color: white;
  padding: 1rem 0px;
}
@media (max-width: 500px) {
  .section5 h1 {
    font-size: 32px;
  }
  .section5 {
    padding: 1rem 2rem;
  }
}

/* //section6 */
.section6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}
.Row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  margin: 1rem 0.5rem;
  width: 21rem;
  padding: 1rem 0px;
  border: none;
  text-align: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.card img {
  width: 100%;
  height: 30vh;
}
.card-text {
  line-height: 33px;
  text-align: justify;
}
.Card-text {
  text-align: justify;
  line-height: 28px;
}
.card-title {
  font-weight: bold;
}
.card:hover {
  transform: scale(1.02);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.06);
}

@media (max-width: 777px) {
  .card {
    width: 70%;
  }
  .section6 h1 {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .card {
    width: 95%;
  }
}
@media (max-width: 450px) {
  .card img {
    height: 20vh;
  }
}

/* section7 */
.section7 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 3rem;
  flex-direction: column;
}
.totalteams {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}
.team1 {
  width: 50%;
  padding: 1rem 0rem;
  border: 1px solid rgb(255, 255, 255);
  background-color: #01539f;
  color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}
.team1 h2 {
  font-weight: 600;
  width: 100%;
  padding: 0.8rem;
  background-color: rgb(255, 174, 0);
}
.team1 p {
  line-height: 33px;
  padding: 15px;
  font-size: 18px;
}

@media (max-width: 900px) {
  .team1 {
    width: 100%;
  }
  .totalteams {
    flex-direction: column;
  }
}
@media (max-width: 450px) {
  .section7 {
    padding: 1rem 2rem;
  }
}
/* .section8 */

.section8 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem 3rem;
}
.section8 h1 {
  font-size: 45px;
}
.section8 span {
  color: rgb(255, 217, 0);
  font-weight: bold;
}
.section8 p {
  font-size: 20px;
}
.client-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
}
.client-heading h1 {
  font-weight: 650;
  font-size: 40px;
}
.ourclients {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}
@media (max-width: 700px) {
  .ourclients {
    flex-direction: column;
  }
}
.img {
  height: 10vh;
  width: 100%;
}
.client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  gap: 0.5rem;
  align-items: center;
  border: 3px solid rgb(233, 160, 4);
  padding: 1rem;
  opacity: 1;
}
@media (max-width: 1000px) {
  .client {
    width: 250px;
  }
}
@media (max-width: 800px) {
  .client {
    width: 210px;
    padding: 2rem 0.1rem 1rem 0.1rem;
  }
}
@media (max-width: 700px) {
  .client {
    width: 420px;
  }
}
@media (max-width: 500px) {
  .client {
    width: 350px;
    padding: 1rem;
  }
  .img {
    height: 8.5vh;
  }
}
@media (max-width: 420px) {
  .client {
    width: 330px;
    padding: 2rem 0.1rem 1rem 0.1rem;
  }
}
.client img {
  width: 80px;
  border-radius: 50%;
}
.client p {
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
}
@media (max-width: 1000px) {
  .client p {
    font-size: 10px;
  }
}
@media (max-width: 800px) {
  .client p {
    font-size: 9px;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .client p {
    font-size: 18px;
    color: rgba(134, 132, 132);
    line-height: 35px;
  }
}
@media (max-width: 550px) {
  .client p {
    font-size: 15px;
  }
}
@media (max-width: 430px) {
  .client p {
    font-size: 13.5px;
  }
}
@media (max-width: 415px) {
  .client p {
    font-size: 12.5px;
  }
}
.client h6 {
  font-weight: 650;
  padding-top: 8px;
}
@media (max-width: 700px) {
  .client h6 {
    font-size: 18px;
  }
}
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}
p b {
  font-size: 14px;
}
@media (max-width: 700px) {
  p b {
    font-size: 18px;
    color: rgb(22, 22, 22);
  }
}

/* //accordian */
.Row {
  display: flex;
}
.Container {
  margin: 0 auto;
  width: 40%;
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded="true"] {
  border-bottom: 1px solid #03b5d2;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1rem 2rem;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}
.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 20px;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded="true"] {
  color: #03b5d2;
}
.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}
.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 15rem;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 500;
  margin: 2em 0;
  color: #000000;
}
.section9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;
}
.section9 h1 {
  text-align: center;
  font-size: 45px;
}
.RoW {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.accordion-content p {
  padding: 0px 1rem;
  font-weight: 550;
  color: black;
}
@media (max-width: 850px) {
  .RoW {
    gap: 5px;
    flex-direction: column;
  }
  .Container {
    width: 100%;
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 5rem;
 
  flex-wrap: wrap;
  background-color: #01539f;
}
iframe {
  width: 100%;
  height: 30vh;
  border-radius: 5px;
}
.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}
.Sites h3{
  color: white;
  text-decoration: underline;
}
.sitelinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sitelinks h3{
  color: white;
  text-decoration: underline;
}
.sitelinks a {
  color: white;
  font-weight: 600;
  font-size: 20px;
}
.socialmedia {
  display: flex;
 justify-content: space-around;
 align-items: center;
  gap: 10rem;
}
.socialmedia h3{
  color: white;
  text-decoration: underline;
}
.links {
  display: flex;
  flex-direction: column;
}
 h3{
  font-weight: bolder;
  margin-bottom: 30px;
}
.links a{
  color: white;
}
.contact i,.span{
  padding: 10px 0px;
  font-size: 18px;
  color: white;
}
.fa{
  color: rgb(255, 255, 255);
 font-size: 20px;
}
.fa-facebook{
  background-color: rgb(64, 0, 255);
  padding: 5px 10px;
  text-align: center;
  border-radius: 50%;
}
.fa-instagram{
  background-color: rgb(255, 0, 0);
  padding: 5px;
  text-align: center;
  border-radius: 50%;
}
.fa-linkedin{
  background-color: rgb(45, 18, 135);
  padding: 5px;
  text-align: center;
  border-radius: 50%;
}
@media(max-width:600px){
  .footer{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 2rem;
  }
  .location{
    justify-content: flex-start;
    align-items: flex-start;
   margin-bottom: 20px;
  }
  iframe{
    width: 90vw;
  }
  .socialmedia{
    padding: 2rem 0;
    align-items: flex-start;
    flex-direction: column;
    gap:1.5rem;
  
  }
  @media(max-width:450px){
    iframe{
      width: 85vw;
    }
   
    .location p{
      font-size: 21px;
    
    }
    .location h5{
      font-size: 30px;
    }
   
  }
}
