body {
  font-family: "Open Sans", sans-serif;
  color: #000000;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dropbtn {
  font-size: 17px;
  font-weight: 600;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar {
  padding: 0 3rem;
  background-color: #f0f0f0;
  /* padding: 90px 10px; */
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

.navbar-nav {
  display: flex;
  gap: 1rem;
  font-weight: 700;
  color: black;
}

.navbar-nav {
  background-color: #F0F0F0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding: 1rem 0rem;
}

.navbar a img {
  width: 100px;
}

.navbar-nav li a {
  font-size: 17px;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(45, 6, 146);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(225, 209, 29);
}

.carousel-item img {
  width: 100%;
  object-fit: cover;
  height: 83vh;
}

.carousel-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  /* position: absolute; */
  top: -10%;
  left: 70%;
}

.carousel-caption .button {
  position: absolute;
  top: -20%;
  left: 0%;
}

.carousel-caption h3 {
  color: rgb(255, 255, 255);
  position: relative;
  right: 116%;
  top: 10%;
  font-weight: 900;
}

.carousel-caption h4 {
  font-size: 30px;
  color: rgb(255, 255, 255);
  position: relative;
  right: 95%;
  top: 90%;
  font-weight: 900;
}

.carousel-caption button {
  position: absolute;
  top: 62%;
  left: 47%;
  line-height: 33px;
}

.carousel-caption .p {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 30%;
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
}

@media(max-width:1100px) {
  .carousel-item img {
    height: auto;
  }

  .contact-wrap {
    padding: 0;
  }

  .carousel-caption {
    top: 0%;
  }

  .carousel-caption h3 {
    top: -1.5%;
    font-size: 20px;
  }

}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  height: 85vh;
}

.hero .Img {
  width: 100%;
  object-fit: cover;
  height: 80vh;
  position: absolute;
}

.herocontent {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  top: 20%;
  right: 6%;
  width: 100%;

}

.herocontent h3 {
  transform: translate(-13rem, -2.3rem);
  color: white;
  font-weight: 800;
}

.herocontent h4 {
  position: absolute;
  top: -23%;
  left: 15%;
  color: white;
  font-weight: 800;
  font-size: 27px;
}

@media (max-width: 1367px) {
  .herocontent h3 {
    position: relative;
    font-size: 22px;
    color: rgb(255, 255, 255);
    transform: translateY(-40px);
    left: -220px;
  }

  .herocontent h4 {
    top: -23%;
    font-size: 20px;
    left: 15%;
  }
}

.services-part {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0px;
  padding: 15px 0px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 65%;
  color: white;
  border-radius: 5px;
}

.contact-section.service {
  border-radius: 5px;
  transform: translate(0px, -78px);
  background-color: #413b64;
  padding: 20px;
  width: 25%;
  border-radius: 5px;
}

.title {
  font-size: 25px;
  line-height: 1;
  color: white;
  font-weight: 800;
  text-align: center;
}

.contact-wrap {
  /* box-shadow: 0px 0px 20px rgb(0 0 0 / 10%); */
  border-radius: 8px;
  padding: 20px;
  /* background: #01539f; */
}

.form-control {
  margin: 14px 0px;
  padding: 6px 8px;
  /* background-color: rgba(26, 24, 24,.1); */
  color: white;
  /* background-color:rgba(255, 255, 255, 0.6); */
}

.arrow-btn input {
  background-color: rgba(37, 37, 37, 0.6);
  border: none;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
}

.arrow-btn input:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: 900;
}

@media(max-width:1367px) {
  .contact-section.service {
    border-radius: 5px;
    transform: translate(0px, -68px);
    /* background-color:rgba(0, 0, 0, 0.4); */
    background-color: #413b64;
    /* padding: 20px; */
    width: 25%;
    border-radius: 5px;
  }

  .form-control {
    margin: 10px 0px;
    padding: 3px 8px;
    /* background-color: rgba(26, 24, 24,.1); */
    color: white;
    font-size: 15px;
    /* background-color:rgba(255, 255, 255, 0.6); */
  }

  .arrow-btn input {
    background-color: rgba(37, 37, 37, 0.6);
    border: none;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 13px;
  }
}

@media(max-width:1100px) {
  .form-control {
    padding: 5px;
    margin: 5px;
  }

  .arrow-btn input {
    padding: 5px;
    margin-top: 5px;
    font-weight: 600;
    font-size: 15px;
  }
}

@media(max-width:450px) {
  .title {
    font-size: 9px;
  }

  .contact-section.service {
    transform: translate(0px, -28px);
    margin-top: 15px;
    padding: 5px;
  }

  .form-control {
    margin: 5px;
    border-radius: 1px;
    padding: 1px 5px;
    font-size: 5px;
  }

  .arrow-btn input {
    padding: 2px 5px;
    font-size: 8px;
  }

  .row {
    padding-left: 0;
    padding-right: 0;
    margin-left: -20px;
  }

  p {
    margin-bottom: 0;
  }

  .herocontent h4 {
    top: -23%;
    font-size: 9px;
    left: 9%;
  }

  .herocontent h3 {
    transform: translateY(23px);
    left: -60px;
    font-size: 10px;
    color: rgb(255, 255, 255);
  }

  .hero {
    margin-top: 70px;
  }

  .about {
    margin-top: 20px;
  }

  .image-content iframe {
    width: 100%;
    height: 350px;
  }
}

@media(max-width:450px) {
  .hero {
    height: 30vh;
  }

  .hero .Img {
    height: 30vh
  }

  .contact-wrap {
    padding: 5px 6px;
  }
}

/* section2 */
.section2 {
  padding: 2rem 0;
}

.section2 h1 {
  text-align: center;
  font-size: 45px;
}

.image-content {
  padding: 2rem 3rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.image-content img {
  width: 45%;
  height: 55vh;
}

@media(max-width:450px) {
  .image-content img {
    height: auto;
  }

}

.deepcleaning {
  height: 400px;
}

.image-content p {
  width: 55%;
  line-height: 35px;
  font-size: 20px;
  text-align: justify;
  color: black;
  font-weight: 510;
  opacity: 0.7;
}

@media (max-width: 1000px) {
  .image-content {
    flex-direction: column;
  }

  .image-content img {
    width: 100%;
  }

  .image-content p {
    width: 100%;
    padding: 1rem 0px;
  }

  .section2 h1 {
    text-align: center;
  }
}

@media (max-width: 470px) {
  .section2 h1 {
    font-size: 30px;
    line-height: 45px;
  }

  .section2 {
    padding: 2rem 0 0 0;
  }

  .image-content {
    padding: 2rem;
  }
}

/* section3 */
.section3 {
  padding: 1rem 3rem;
}

.section3 h1 {
  text-align: center;
  font-size: 45px;
  padding: 1rem 0;
}

.section3 p {
  font-size: 20px;
  width: 100%;
  line-height: 36px;
  text-align: justify;
  font-weight: 510;
  opacity: 0.8;
}

@media (max-width: 470px) {
  .section3 h1 {
    text-align: center;
    font-size: 30px;
    line-height: 47px;
  }

  .section3 {
    padding: 10px 2rem;
  }
}

/* // section4 */
.section4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0rem;
  gap: 5rem;
}

.section4 h3 {
  color: black;
  font-size: 20px;
  text-align: center;
}

.section4 h1 {
  text-align: center;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.description li i {
  width: 25px;
  height: 25px;
  line-height: 25px !important;
  border-radius: 30px 30px 30px 30px !important;
  padding: 0 0 0 0;
  text-align: center;
  min-width: 20px;
  display: inline-block;
  margin-right: 10px;
  background-color: #ffd600;
  font-size: 12px !important;
}

.description {
  margin-left: 50px;
}

.deepheading {
  margin-left: -45px;
}

.serviceheading {
  margin-left: -145px;
}

.description li {
  padding: 10px;
}

.section4 img {
  border-radius: 10px;
  width: 50%;
}

@media(max-width:450px) {
  .section4 {
    padding: 1rem;
  }

  .section4 img {
    border-radius: 10px;
    width: 100%;
  }

  .deepcleaning {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1000px) {
  .section4 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .section4 img {
    width: 100%;
  }
}

@media (max-width: 460px) {
  .section4 {
    padding: 1rem 2rem;
  }
}

/* section5 */
.section5 {
  padding: 3rem 3rem;
}

.section5 h1 {
  text-align: center;
  font-size: 45px;
  padding-bottom: 2rem;
}

.table {
  border: 3px solid rgb(45, 44, 11);
  /* background-color: #dfdf9f; */
}

td {
  border-right: 2px solid rgb(0, 0, 0);
}

td,
th {
  text-align: center;
}

td {
  font-weight: 550;
}

.table1 h1 {
  font-size: 25px;
  background-color: #383643;
  color: white;
  padding: .5rem 0px;
  font-weight: 600;
}

@media (max-width: 500px) {
  .section5 h1 {
    font-size: 32px;
  }

  .section5 {
    padding: 1rem 2rem;
  }
}

/* //section6 */
.deepservices {
  padding: 1rem 0;
  background-color: gainsboro;
}

.maidservices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.section6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

.Row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 1rem 0.5rem;
  width: 21rem;
  height: 500px;
  /* padding: 1rem 0px; */
  border: none;
  text-align: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

@media(max-width:1505px) {
  .card {
    margin: 1rem 0.5rem;
    /* width: 22rem; */
    height: 100%;
    /* padding: 1rem 0px; */
    border: none;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  }

  .maidservices {
    gap: 10px;
  }
}

.card img {
  width: 100%;
  height: 34vh;
}

@media(max-width:1505px) {
  .card img {
    height: 30vh;
  }
}

.card-text {
  line-height: 28px;
  text-align: justify;
}

.Card-text {
  text-align: justify;
  line-height: 33px;
}

@media(max-width:1505px) {
  .card-text {
    line-height: 33px;
    text-align: justify;
    padding: 10px;
    /* height: 20vh; */
  }
}

.card-title {
  font-weight: bold;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.06);
}

@media (max-width: 777px) {
  .card {
    width: 70%;
  }

  .section6 h1 {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .card {
    width: 95%;
  }
}

@media (max-width: 450px) {
  .card img {
    height: auto;
  }
}

/* section7 */
.section7 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 3rem;
  flex-direction: column;
}

.totalteams {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}

.team1 {
  width: 50%;
  padding: 1rem 0rem;
  border: 1px solid rgb(255, 255, 255);
  background-color: #01539f;
  color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.team1 h2 {
  font-weight: 600;
  width: 100%;
  padding: 0.8rem;
  background-color: rgb(255, 174, 0);
}

.team1 p {
  line-height: 33px;
  padding: 15px;
  font-size: 18px;
}

@media (max-width: 900px) {
  .team1 {
    width: 100%;
  }

  .totalteams {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .section7 {
    padding: 1rem 2rem;
  }
}

/* .section8 */

.section8 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem 3rem;
}

.section8 h1 {
  font-size: 45px;
}

.section8 span {
  color: rgb(255, 217, 0);
  font-weight: bold;
}

.section8 p {
  font-size: 20px;
}

.client-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
}

.client-heading h1 {
  font-weight: 650;
  font-size: 40px;
}

.ourclients {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

@media (max-width: 700px) {
  .ourclients {
    flex-direction: column;
  }
}

.img {
  height: 10vh;
  width: 100%;
}

.client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  gap: 0.5rem;
  align-items: center;
  border: 3px solid rgb(233, 160, 4);
  padding: 1rem;
  opacity: 1;
}

@media (max-width: 1000px) {
  .client {
    width: 250px;
  }
}

@media (max-width: 800px) {
  .client {
    width: 210px;
    padding: 2rem 0.1rem 1rem 0.1rem;
  }
}

@media (max-width: 700px) {
  .client {
    width: 420px;
  }
}

@media (max-width: 500px) {
  .client {
    width: 350px;
    padding: 1rem;
  }

  .img {
    height: 8.5vh;
  }
}

@media (max-width: 420px) {
  .client {
    width: 330px;
    padding: 2rem 0.1rem 1rem 0.1rem;
  }
}

.client img {
  width: 75px;
  /* border-radius: 50%; */
}

.client p {
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
}

@media (max-width: 1000px) {
  .client p {
    font-size: 10px;
  }
}

@media (max-width: 800px) {
  .client p {
    font-size: 9px;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .client p {
    font-size: 18px;
    color: rgba(134, 132, 132);
    line-height: 35px;
  }
}

@media (max-width: 550px) {
  .client p {
    font-size: 15px;
  }
}

@media (max-width: 430px) {
  .client p {
    font-size: 13.5px;
  }
}

@media (max-width: 415px) {
  .client p {
    font-size: 12.5px;
  }
}

.client h6 {
  font-weight: 650;
  padding-top: 8px;
}

@media (max-width: 700px) {
  .client h6 {
    font-size: 18px;
  }
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

p b {
  font-size: 14px;
}

@media (max-width: 700px) {
  p b {
    font-size: 18px;
    color: rgb(22, 22, 22);
  }
}

/* //accordian */
.Row {
  display: flex;
  width: 100%;
}

.bedroom {
  line-height: 28px;
}

@media(max-width:1367px) {
  .Row {
    gap: 5rem;
  }

  .bedroom {
    line-height: 33px;
  }
}

.Container {
  margin: 0 auto;
  width: 65%;
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded="true"] {
  border-bottom: 1px solid #383643;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1.5rem 2rem;
  color: #1b1d1e;
  font-size: 1.15rem;
  font-weight: bold;
  border: none;
  background: none;
  outline: none;
}

@media(max-width:450px) {
  .accordion button {
    font-size: .7rem;
    padding: 1.5rem 2rem;

  }
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #383643;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #0dff00;
  border: 1px solid #383643;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 20px;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

@media(max-width:450px) {
  .accordion button .icon {
    right: 10px;
    top: 22px;
  }
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded="true"] {
  color: #000203d6;
}

.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}

.accordion button[aria-expanded="true"]+.accordion-content {
  opacity: 1;
  max-height: 100%;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content p {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 2em 0;
  color: #000000;
}

.section9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;
}

.section9 h1 {
  text-align: center;
  font-size: 45px;
}

.RoW {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.accordion-content p {
  padding: 0px 1rem;
  font-weight: 550;
  color: black;
  line-height: 35px;
}

@media(max-width:450px) {}

.accordion .accordion-content p {
  font-size: 16px;
  line-height: 25px;
  padding: 0px 2rem;
  font-weight: 600;
}

@media (max-width: 850px) {
  .RoW {
    gap: 5px;
    flex-direction: column;
  }

  .Container {
    width: 100%;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  background-color: #d6d7d7;
}

.footerlogo {
  width: 130px;
  margin-bottom: 3rem;
}

.sitemap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.sitelinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.sitelinks a {
  text-decoration: none;
  color: black;
  font-weight: 650;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.whatsapp {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 1rem;
  margin-left: -25px;
}

.whatsapp p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}

.emailus {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 5px;

}

.email {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;

}

.emails {
  margin-left: 20px;
}

.map {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.whatsapp img {
  width: 40px;
  cursor: pointer;
}

.whatsapp a {
  text-decoration: none;
  color: black;
}

.whatsapp img:hover {
  transform: scale(1.1);
}

.whatsapp p {
  font-weight: 650;
}

.contact h5,
.emailus h5 {
  margin-left: 20px;
}

.contact a,
.email {
  text-decoration: none;
  color: black;
  font-weight: 650;
}

.fa {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.fa:hover {
  color: black;
}

.fa-facebook {
  background-color: blue;
  padding: 6px 9px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
}

.fa-instagram {
  background-color: rgb(194, 64, 64);
  color: white;
  padding: 6px 8px;
  border-radius: 50%;
}

.fa-linkedin {
  background-color: #0C6DB3;
  padding: 6px 8px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
}

.fa-twitter {
  background-color: #227bbb;
  padding: 6px 8px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .7rem;
  padding: 2rem 0;
}

.Contact-header {
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 5rem 0px 5rem;
  background-color: #000000;
  color: white;
}

.Contact-header a {
  color: white;
  font-size: 15px;
  font-weight: 500;
}

@media(max-width:450px) {
  .navbar-nav {
    gap: 0px;
    padding: 10px;
  }

  .navbar-nav li {
    line-height: 30px;
  }

  footer {
    padding-left: 2rem;
  }

  .copyright {
    font-size: 13px;
  }

  .social {
    padding: 10px 0;
  }

  .emailus {
    margin-left: 0;
  }

  .section9 h1 {
    font-size: 22px;
  }

  .section9 {
    padding: 10px 2rem;
  }

  .accordion .accordion-content p {
    font-size: 14px;
    line-height: 25px;
    padding: 0px 1rem;
    font-family: 500;
    text-align: justify;
  }

  .accordion button {
    padding: 1.5rem 1rem;
  }

  .sitelinks a,
  .contact a,
  .whatsapp p {
    font-size: 14px;
  }

  .col-lg-3 h2 {
    width: 100%;
  }

}